/* Creare DynamicSitemap */

.sitempan { width: 100%; float: left; background:#f9f9f9;border:1px solid #e2e2e2;}
.smh2 { font-size: 1.4em; padding: 10px; display: block;color:#595959 !important; }
.strongsm { font-size: 1.4em; display: block; }
.siteul { margin: 5px; padding: 0 0 0 10px; float: left; width: 45%; }
/* .siteul li { list-style:inside; font-size:1em!important; } */
.siteul li a {
    background: url("../images/ic-layered.png") no-repeat scroll left 2px transparent;
    color: #595959;
    font: 12px/25px Arial,Helvetica,sans-serif;
    margin-left: 5px;
    padding-left: 18px;
    text-transform: capitalize;
}
.siteul li a:hover {
  background: url("../images/ic-layered.png") no-repeat scroll left -20px transparent;

}
.sitecatul { margin: 0 5px; padding: 0 0 0 10px; float: left; width: 100%; }
.sitecatul li.cat { list-style:none; font-size:1em!important; display: block; float: left; width: 45%; margin: 0 0 10px 0; }
.sitecatul li.cat a strong{
    background: url("../images/ic-layered.png") no-repeat scroll left 2px transparent;
    color: #595959;
    font: 12px Arial,Helvetica,sans-serif;
    font-weight:bold;
    margin-left: 5px;
    padding-left: 18px;
    text-transform: capitalize;
}
.sitecatul li.cat a strong:hover{
    background: url("../images/ic-layered.png") no-repeat scroll left -20px transparent;
}
.sitecatul li.cat ul { margin: 0 5px; padding: 0 0 0 10px; }
/*.sitecatul li.cat ul li { list-style:inside; }*/
.sitecatul li.cat ul li a{
     background: url("../images/ic-layered.png") no-repeat scroll left 2px transparent;
    color: #595959;
    font: 12px Arial,Helvetica,sans-serif;
    margin-left: 5px;
    padding-left: 18px;
    text-transform: capitalize;
    }
.sitecatul li.cat ul li a:hover{
background: url("../images/ic-layered.png") no-repeat scroll left -20px transparent;
.two-column { width: 50%; float: left; display: block; }
