<?xml version="1.0"?>
<config>
    <modules>
        <Ccd_Multipletier>
            <version>0.1.0</version>
        </Ccd_Multipletier>
    </modules>
    <frontend>
        <routers>
            <multipletier>
                <use>standard</use>
                <args>
                    <module>Ccd_Multipletier</module>
                    <frontName>multipletier</frontName>
                </args>
            </multipletier>
        </routers>
        <layout>
            <updates>
                <multipletier>
                    <file>multipletier.xml</file>
                </multipletier>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <multipletier>
                <class>Ccd_Multipletier_Model</class>
                <resourceModel>multipletier_mysql4</resourceModel>
            </multipletier>
            <multipletier_mysql4>
                <class>Ccd_Multipletier_Model_Mysql4</class>
                <entities>
                    <multipletier>
                        <table>multipletier</table>
                    </multipletier>
                </entities>
            </multipletier_mysql4>
        </models>
        <resources>
            <multipletier_setup>
                <setup>
                    <module>Ccd_Multipletier</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </multipletier_setup>
            <multipletier_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </multipletier_write>
            <multipletier_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </multipletier_read>
        </resources>
        <blocks>
            <multipletier>
                <class>Ccd_Multipletier_Block</class>
            </multipletier>
        </blocks>
        <helpers>
            <multipletier>
                <class>Ccd_Multipletier_Helper</class>
            </multipletier>
        </helpers>
    </global>
</config>