<?xml version="1.0"?>
<config>
    <modules>
        <Ccd_Request>
            <version>0.1.0</version>
        </Ccd_Request>
    </modules>
    <frontend>
        <routers>
            <request>
                <use>standard</use>
                <args>
                    <module>Ccd_Request</module>
                    <frontName>request</frontName>
                </args>
            </request>
        </routers>
        <layout>
            <updates>
                <request>
                    <file>request.xml</file>
                </request>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <request>
                <class>Ccd_Request_Model</class>
                <resourceModel>request_mysql4</resourceModel>
            </request>
            <request_mysql4>
                <class>Ccd_Request_Model_Mysql4</class>
                <entities>
                    <request>
                        <table>request</table>
                    </request>
                </entities>
            </request_mysql4>
        </models>
        <resources>
            <request_setup>
                <setup>
                    <module>Ccd_Request</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </request_setup>
            <request_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </request_write>
            <request_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </request_read>
        </resources>
        <blocks>
            <request>
                <class>Ccd_Request_Block</class>
            </request>
        </blocks>
        <helpers>
            <request>
                <class>Ccd_Request_Helper</class>
            </request>
        </helpers>
    </global>
</config>