<?xml version="1.0"?>
<config>
    <modules>
        <Gttadmin_CustomAdmin>
            <version>1.0.0</version>
        </Gttadmin_CustomAdmin>
    </modules>
    <frontend>
        <layout>
            <updates>
                <customadmin>
                    <file>customadmin.xml</file>
                </customadmin>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <customadmin>
                <class>Gttadmin_CustomAdmin_Model</class>
            </customadmin>
        </models>
        <blocks>
            <customadmin>
                <class>Gttadmin_CustomAdmin_Block</class>
            </customadmin>
        </blocks>
        <helpers>
            <customadmin>
                <class>Gttadmin_CustomAdmin_Helper</class>
            </customadmin>
        </helpers>
    </global>
	<default>
		<customadmin>
			<design>
				<navbar_skin>default</navbar_skin>
				<navbar_level2_link>default</navbar_level2_link>
				<footer_skin>0</footer_skin>
			</design>
			<header>
				<links_topbar_enabled>1</links_topbar_enabled>
				<links_homeslider_enabled>1</links_homeslider_enabled>
				<links_homeslider_img>1</links_homeslider_img>
				<links_signup_enabled>1</links_signup_enabled>
				<links_custom_link_enabled>0</links_custom_link_enabled>
			</header>
			<slideshow>
				<enabled>1</enabled>
				<directory>rbadmin/homeslider/slideshow</directory>
				<files>test01.png,test02.png</files>
				<fx>scrollHorz</fx>
				<easing>easeInOutCubic</easing>
				<timeout>10000</timeout>
				<speed_out>800</speed_out>
				<speed_in>800</speed_in>
				<sync>1</sync>
				<pause>1</pause>
				<fit>0</fit>
			</slideshow>
			<products>
				<label_new_enabled>1</label_new_enabled>
				<label_sale_enabled>1</label_sale_enabled>
				<product_right_box_enabled>1</product_right_box_enabled>
				<replace_related>0</replace_related>
				<!--<upsell_enabled>1</upsell_enabled>-->
				<replace_upsell>0</replace_upsell>
			</products>
			<images>
				<product_main_width>265</product_main_width>
				<product_main_height>265</product_main_height>
				<product_thumbnail_width>56</product_thumbnail_width>
				<product_thumbnail_height>56</product_thumbnail_height>
			</images>
			<attributes>
				<brand_product_view_enabled>0</brand_product_view_enabled>
				<brand_attr_id>manufacturer</brand_attr_id>
				<brand_image_extension>png</brand_image_extension>
				<brand_link_search_enabled>1</brand_link_search_enabled>
			</attributes>
			<footer>
				<links_column_auto_width>1</links_column_auto_width>
				<links_column_wrapper_height>120</links_column_wrapper_height>
			</footer>
			<responsiveness>
				<responsive_on_off>1</responsive_on_off>
				<back_to_top_on_off>1</back_to_top_on_off>
			</responsiveness>
			<roll_over_category_page>
				<roll_over_category_page>1</roll_over_category_page>
			</roll_over_category_page>
			<quickview>
				<quickview_enable>1</quickview_enable>
			</quickview>
		</customadmin>
	</default>
</config>