/*body{margin: 0;padding: 0;font-family:Arial, fruit, fruitB;font-size: 12px;color:#343434; background: #ececec url(../../images/main-bg2.jpg) repeat-x;}

#anav a {color: #fff;}
header .fltR .topMnu a{ color:#fff; }*/