<?xml version="1.0"?>

<config>
    <modules>
        <GTT_CustomZoom>
            <version>1.0.0</version>
        </GTT_CustomZoom>
    </modules>
    <global>
        <blocks>
            <CustomZoom>
                <class>GTT_CustomZoom_Block</class>
            </CustomZoom>
        </blocks>
        <models>
            <CustomZoom>
                <class>GTT_CustomZoom_Model</class>
            </CustomZoom>
        </models>
        <helpers>
            <CustomZoom>
                <class>GTT_CustomZoom_Helper</class>
            </CustomZoom>
        </helpers>
    </global>	
    <frontend>
        <routers>
            <CustomZoom>
                <use>standard</use>
                <args>
                    <module>GTT_CustomZoom</module>
                    <frontName>CustomZoom</frontName>
                </args>
            </CustomZoom>
        </routers>
        <layout>
            <updates>
                <CustomZoom>
                    <file>customzoom.xml</file>
                </CustomZoom>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
		<all>
		    <title>Allow Everything</title>
		</all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <GTT_CustomZoom translate="title" module="CustomZoom">
                                            <title>Custom Zoom</title>
                                            <sort_order>10</sort_order>
                                        </GTT_CustomZoom>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <GTT_CustomZoom>
            <general>
                <enabled>1</enabled>
                <fix_size>width</fix_size>
				<image_size>255</image_size>
				<zoom_width>auto</zoom_width>
                <zoom_height>auto</zoom_height>
                <position>right</position>
                <adjust_x>0</adjust_x>
                <adjust_y>0</adjust_y>
                <shade>0</shade>
                <shade_opacity>0.4</shade_opacity>
                <lens_opacity>0.4</lens_opacity>
                <effect>none</effect>
                <smooth_move>3</smooth_move>
                <show_title>1</show_title>
                <title_opacity>0.5</title_opacity>
            </general>
        </GTT_CustomZoom>
    </default>
</config>